* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Space Mono', monospace;
}

:root {
  --grey1: #333333;
  --grey2: #4F4F4F;
}

/* -- Header -- */
header {
  max-width: 80%;
  margin: 0 auto;
}

header .logo {
  margin-top: 24px;
  font-family: 'Inconsolata', monospace;
  font-size: 2.4rem;
  line-height: 2.5rem;
  font-weight: bold;
  letter-spacing: -0.12rem;
  text-transform: uppercase;
}

/* -- Main -- */
main {
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

figure {
  margin-top: 64px;
}

img{
  width: 100%;
  height: auto;
}

section h1 {
  font-weight: bold;
  font-size: 3.6rem;
  line-height: 5.6rem;
  letter-spacing: -0.12rem;
  color: var(--grey1);
}

section p {
  margin: 30px 0;
  font-size: 1.8rem;
  line-height: 2.7rem;
  letter-spacing: -0.12rem;
  color: var(--grey2);
}

section button {
  padding: 24px 43px;
  margin-top: 20px;
  margin-bottom: 100px;
  font-weight: bold;
  font-size: 1.4rem;
  line-height: 2.1rem;
  letter-spacing: -0.12rem;
  text-transform: uppercase;
  border: none;
  color: #ffff;
  background-color: var(--grey1);
  cursor: pointer;
}

/* -- Footer -- */
footer{
  margin: 20px;
  margin-bottom: 24px;
  text-align: center;
  color: #BDBDBD;
}

/* Media queries Desktop*/
@media screen and (min-width: 1024px) {
  main {
    flex-direction: row;
  }

  figure {
    margin-right: 118px;
  }

  section {
    margin-top: 64px;
  }

  section h1 {
    font-size: 4.3rem;
    line-height: 5.3rem;
  }

  section p {
    font-size: 2.4rem;
    line-height: 3.6rem;
  }
  

}